<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<title>{CLIENT_NAME}</title>

<link rel="STYLESHEET" type="text/css" href="stylesheet.css">
<STYLE>
BODY {
background-color : #18304c;
background-image: url(pix/g_bkg.gif);
background-repeat: repeat-x;
background-position: top center;
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
color : #ffffff;
margin: 0px;
}
</STYLE>
<SCRIPT LANGUAGE="Javascript">
<!---
function decision(message, url){
if(confirm(message)) location.href = url;
}
// --->
</SCRIPT>
</head>

<BODY>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"><tr valign="top">
<td width="48%" class="body_left">&nbsp;</td>
<td width="4%">

<table width="975" border="0" cellspacing="0" cellpadding="0" align="center"><tr valign="top">
<td width="230"><img src="pix/h_logo.gif" alt="CRUCMS - by Crucial Networking" width="230" height="120" border="0"></td>
<td width="745">

<table width="745" border="0" cellspacing="0" cellpadding="0"><tr>
<td width="336"><img src="pix/pix_trans.gif" alt="" width="336" height="32" border="0"></td>
<td width="409" class="header_rt"><img src="pix/pix_trans.gif" alt="" width="1" height="8" border="0"><br>

<!-- begin help navigation -->
<table width="409" border="0" cellspacing="0" cellpadding="0"><tr>
<td width="14"><img src="pix/pix_trans.gif" alt="" width="14" height="1" border="0"></td>
<td width="16"><a href="mailto:info@crucialnetworking.com?subject=Help Required: CMS"><img src="pix/b_help.png" alt="Need help?" width="16" height="16" border="0"></a></td>
<td width="77"><span class="secondary_nav"><a href="mailto:info@crucialnetworking.com?subject=Help Required: CMS" class="secondary_nav">Need help?</a></span></td>
<td width="16"><a href="mailto:info@crucialnetworking.com?subject=Problem: CMS"><img src="pix/b_report_problem.png" alt="Report a problem" width="16" height="16" border="0"></a></td>
<td width="112"><span class="secondary_nav"><a href="mailto:info@crucialnetworking.com?subject=Problem: CMS" class="secondary_nav">Report a problem</a></span></td>
<td width="16"><a href="#"><img src="pix/b_download_manual.png" alt="Download Manual" width="16" height="16" border="0"></a></td>
<td width="158"><span class="secondary_nav"><a href="#" class="secondary_nav">Download Manual</a></span></td>
</tr></table><br>
<!-- end help navigation -->

</td>
</tr></table>

<!-- begin client name -->
<table width="745" border="0" cellspacing="0" cellpadding="0"><tr>
<td width="745"><h1>{CLIENT_NAME}</h1></td>
</tr></table>
<!-- end client name -->

</td>
</tr></table>

<table width="975" border="0" cellspacing="0" cellpadding="0" align="center"><tr valign="top">
<td width="230"><img src="pix/pix_trans.gif" alt="" width="230" height="21" border="0"><br>
<img src="pix/g_navbar_top.gif" alt="" width="230" height="14" border="0"></td>
<td width="745"><img src="pix/g_body_top.gif" alt="" width="745" height="35" border="0"></td>
</tr></table>
