BODY {
background-color : #cccccc;
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
color : #474C55;
margin: 0px; 
}

.header_bkg {
background-image: url(pix/h_bkg.gif);
background-repeat: repeat-x;
background-position: top center; 
}

.nav_bkg {
background-color:474C55;
background-repeat: repeat-x;
background-position: top center; 
}



.body_bkg {
background-image: url(pix/g_bkg_body_top.gif);
background-repeat: repeat-x;
background-position: top center; 
background-color:#8e091b;
}

/* BEGIN DIVS */
div#body_bot_bkg {
width: 100%;
height: 74px;
background-image: url(pix/g_body_box_bkg_bot.gif); 
background-position: bottom center; 
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#body_bot_bkg_ip {
width: 100%;
height: 1px;
background-color:#b2a68a; 
background-position: bottom center; 
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

.bkg_body-main {
background-repeat: repeat-x;
background-color: #ffffff; 
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
.bkg_body-main1 {
background-image: url(pix/g_bkg_body-main1.gif); 
background-repeat: repeat-x;
background-color: #ffffff; 
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#secondarynav  {
width: 100%;
background=color: #8C7E5C;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#main_content_hp  {
margin-top: 24px;
margin-bottom: 0px;
margin-left: 29px;
margin-right: 29px;
}

div#main_content_zip-callout_ip  {
margin-top: 11px;
margin-bottom: 0px;
margin-left: 29px;
margin-right: 29px;
}

div#zip-code-ip_bkg  {
width: 506px;
height: 140px;
background-image: url(pix/callout_zip_bkg.jpg); 
background-repeat: no-repeat;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#zip-search-ip_bkg  {
width: 840px;
/*height: 140px;*/
background-image: url(pix/zip-back.jpg);
background-repeat: repeat-y;
margin: 0px 0px 0px 0px;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color: #1094d3 #1094d3 #1094d3 #1094d3;
}


div#by-cat_search  {
width: 347px;
height: 140px;
background-image: url(pix/callout_by-cat_search.jpg); 
background-repeat: no-repeat;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#main_content_hp_callouts  {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 29px;
margin-right: 29px;
}

div#main_content_ip_callouts  {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 30px;
margin-right: 19px;
}

div#special-pricing_hp  {
margin-top: 24px;
margin-bottom: 0px;
margin-left: 29px;
margin-right: 29px;
}

div#callouts_hp  {
margin-top: 24px;
margin-bottom: 0px;
margin-left: 29px;
margin-right: 29px;
}



div#callout_bkg  {
width: 301px;
background-image: url(pix/callout_bkg.jpg); 
background-repeat: no-repeat;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#callout_bkg_ip  {
width: 256px;
background-image: url(pix/callout_bkg_ip.jpg); 
background-repeat: no-repeat;
background-color:#ffffff;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

div#callout_bkg_mid {
background-image: url(pix/g_callout_bkg_mid.jpg); 
background-repeat: no-repeat;
background-color:#ffffff;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}


div#headline_hp {
width:453px;
background-image:url(pix/headline_bkg_hp.jpg);
background-repeat:no-repeat;
margin: 0px;
}

div#special-pricing_hp {
width:453px;
background-image:url(pix/g_bkg_special-pricing_hp.jpg);
background-repeat:no-repeat;
margin: 0px;
}



div#body_content_link_right {
align: right;
margin-right: 33px;
}

div#body_content_link_right_ip {
align: right;
margin-right: 21px;
}

div#main_content_ip  {
margin-top: 5px;
margin-bottom: 0px;
margin-left: 21px;
margin-right: 30px;
}

div#title_content  {
margin-top: 27px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-bottom: 1px solid;
border-color: #a99a79;
}

div#footer  {
margin-top: 17px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
}

div#featured_hp  {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 12px;
margin-right: 0px;
}

div#featured_ip  {
margin-top: 15px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 12px;
}

.li_bkg {
/*background-image:url(pix/li_bkg.gif);
background-repeat:no-repeat;*/
padding: 0px;
margin: 0px;
}
ul.checkbox {
	list-style-image: url(pix/CheckBox.gif);
	margin: 0 0 20px 28px;
	padding: 0 0 0 5px;
}
.list_doc {
list-style-image: url(pix/bullet_doc.gif);
heigh: 26px;
line-height: 26px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, sans-serif;
font-weight: bold;
color: #1991be;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

a.list_doc:link {color : #1991be;}
a.list_doc:visited {color : #0e749a;}
a.list_doc:hover {color : #065573; text-decoration: underline;}


.list_doc_no_height {
list-style-image: url(pix/bullet_doc.gif);
heigh: 26px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, sans-serif;
font-weight: bold;
color: #1991be;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

a.list_doc_no_height:link {color : #1991be;}
a.list_doc_no_height:visited {color : #0e749a;}
a.list_doc_no_height:hover {color : #065573; text-decoration: underline;}

/* END DIVS */

/* BEGIN HEADLINE TAGS */
h1 {
line-height: 26px;
font-size: 20px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, san-serif;
color: #1892c0;
background: none;
font-weight: bold;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

h2 {
line-height: 18px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, san-serif;
color: #46bfec;
background: none;
font-weight: bold;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
/* END HEADLINE TAGS */

/* BEGIN CONTENT STYLES */
.SSL-float {
	float:right
	}
	
.float-center {
	float:inherit
	}
.heading {
line-height: 22px;
font-size: 16px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #fead24;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.heading:link {color : #fead24; text-decoration: underline;}
a.heading:visited {color : #ffffff; text-decoration: underline;}
a.heading:hover {color : #f5344d; text-decoration: underline;}

.li {
line-height: 20px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Helvetica, sans-serif;
color: #483c24;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

a.li:link {color : #483c24; font-weight: bold;}
a.li:visited {color : #9f8d69; font-weight: bold;}
a.li:hover {color : #483c24; font-weight: bold; text-decoration: underline; background-color:#e8e2d2;}

.secondary_nav {
line-height: 20px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #6db7d3;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.secondary_nav:link {color : #6db7d3;}
a.secondary_nav:visited {color : #019ad3;}
a.secondary_nav:hover {color : #0e759b; text-decoration: underline;}

.body_content_style1 {
line-height: 18px;
font-size: 11px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.body_content_style1:link {color : #007fad; text-decoration: underline;}
a.body_content_style1:visited {color : #3898BB; text-decoration: underline;}
a.body_content_style1:hover {color : #005A7A; text-decoration: underline;}


.reg {
line-height: 10px;
font-size: 10px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

.reg1 {
line-height: 10px;
font-size: 10px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}


.body_content_style2 {
line-height: 18px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #1991be;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.body_content_style2:link {color : #09678a; text-decoration: underline;}
a.body_content_style2:visited {color : #0e749a; text-decoration: underline;}
a.body_content_style2:hover {color : #065573; text-decoration: underline;}


.body_content_events-private {
line-height: 18px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #c30101;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.body_content_events-private:link {color : #c30101; text-decoration: underline;}
a.body_content_events-private:visited {color : #441515; text-decoration: underline;}
a.body_content_events-private:hover {color : #900101; text-decoration: underline;}

.body_content_events-public {
line-height: 18px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #138307;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.body_content_events-public:link {color : #138307; text-decoration: underline;}
a.body_content_events-public:visited {color : #57D049; text-decoration: underline;}
a.body_content_events-public:hover {color : #0C5004; text-decoration: underline;}





.footer_content_style1 {
line-height: 20px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #1892c0;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.footer_content_style1:link {color : #1892c0;}
a.footer_content_style1:visited {color : #2eb4e7;}
a.footer_content_style1:hover {color : #0c6f94; text-decoration: underline;}

.footer_content_style2 {
line-height: 20px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #1892c0;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.footer_content_style2:link {color : #1892c0;}
a.footer_content_style2:visited {color : #2eb4e7;}
a.footer_content_style2:hover {color : #0c6f94; text-decoration: underline;}

.footer_content_style3 {
line-height: 18px;
font-size: 13px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #818282;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.footer_content_style3:link {color : #818282;}
a.footer_content_style3:visited {color : #5f6060;}
a.footer_content_style3:hover {color : #474C55; text-decoration: underline;}

.footer_content_style4 {
line-height: 20px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #818282;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.footer_content_style4:link {color : #818282; text-decoration: underline;}
a.footer_content_style4:visited {color : #5f6060; text-decoration: underline;}
a.footer_content_style4:hover {color : #474C55; text-decoration: underline;}

.section_heading_style1 {
line-height: 24px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.section_heading_style1:link {color : #005A7A;}
a.section_heading_style1:visited {color : #3CA2C7;}
a.section_heading_style1:hover {color : #003447; text-decoration: underline;}

.section_heading_style2 {
line-height: 18px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.section_heading_style2:link {color : #6db7d3;}
a.section_heading_style2:visited {color : #4b91ab;}
a.section_heading_style2:hover {color : #2c6378; text-decoration: underline;}

.section_heading_style3 {
line-height: 18px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #1991be;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.section_heading_style3:link {color : #1991be;}
a.section_heading_style3:visited {color : #4b91ab;}
a.section_heading_style3:hover {color : #6db7d3; text-decoration: underline;}



.callout_style1 {
line-height: 30px;
font-size: 24px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #138307;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.callout_style1:link {color : #138307;}
a.callout_style1:visited {color : #138307;}
a.callout_style1:hover {color : #0a4e02; text-decoration: underline;}

.body_intro {
line-height: 20px;
font-size: 16px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #620d0d;
margin-top: 15px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.body_intro:link {color : #620d0d; font-weight: bold; margin-left: 0px; margin-right: 0px; text-decoration: underline; background-color:#e8e2d2;}
a.body_intro:visited {color : #9f8d69; font-weight: bold; margin-left: 0px; margin-right: 0px; text-decoration: underline; background-color:#e8e2d2;}
a.body_intro:hover {color : #483c24; font-weight: bold; margin-left: 0px; margin-right: 0px; text-decoration: underline; background-color:#e8e2d2;}

.body_content_ip {
line-height: 20px;
font-size: 13px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #b32121;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.body_content_ip:link {color : #b32121; font-weight: bold;}
a.body_content_ip:visited {color : #e54545; font-weight: bold;}
a.body_content_ip:hover {color : #800f0f; text-decoration: underline;}

.sitemap {
line-height: 22px;
font-size: 14px;
text-decoration: none;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 4px;
margin-left: 0px;
margin-right: 14px;
}

a.sitemap:link {color : #474C55;}
a.sitemap:visited {color : #37afd6;}
a.sitemap:hover {color : #00627a; background-color:#e7f5fa;}

.sitemap_sub {
line-height: 22px;
font-size: 12px;
text-decoration: none;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #474C55;
margin-top: 0px;
margin-bottom: 2px;
margin-left: 10px;
margin-right: 14px;
}

a.sitemap_sub:link {color : #474C55;}
a.sitemap_sub:visited {color : #37afd6;}
a.sitemap_sub:hover {color : #00627a; background-color:#e7f5fa;}

.sitemap_sub_level2 {
line-height: 22px;
font-size: 12px;
text-decoration: none;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 2px;
margin-left: 20px;
margin-right: 14px;
}

a.sitemap_sub_level2:link {color : #474C55;}
a.sitemap_sub_level2:visited {color : #37afd6;}
a.sitemap_sub_level2:hover {color : #00627a; background-color:#e7f5fa;}

.footer_copy {
line-height: 16px;
font-size: 12px;
text-decoration: none;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
color: #8c7e5c;
margin-top: 16px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
}

a.footer_copy:link {color : #8c7e5c;}
a.footer_copy:visited {color : #b6a989;}
a.footer_copy:hover {color : #5b5034; text-decoration: underline;}



/* ------------------------------BEGIN PRODUCT STYLES------------------------------ */
.product_title {
line-height: 24px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: none;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.product_title:link {color : #474C55;}
a.product_title:visited {color : #474C55;}
a.product_title:hover {color : #003447; text-decoration: underline;}

.product_title1 {
line-height: 24px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.product_title1:link {color : #474C55;}
a.product_title1:visited {color : #474C55;}
a.product_title1:hover {color : #003447; text-decoration: underline;}

.product_title2 {
line-height: 18px;
font-size: 12px;
text-decoration: underline;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.product_title1:link {color : #474C55;}
a.product_title1:visited {color : #474C55;}
a.product_title1:hover {color : #003447; text-decoration: underline;}

.product_title_lg {
line-height: 24px;
font-size: 20px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.product_title_lg:link {color : #005A7A;}
a.product_title_lg:visited {color : #3CA2C7;}
a.product_title_lg:hover {color : #003447; text-decoration: underline;}


.product_title_sm {
line-height: 19px;
font-size: 15px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.product_title_sm:link {color : #474C55;}
a.product_title_sm:visited {color : #474C55;}
a.product_title_sm:hover {color : #474C55; text-decoration: underline;}

.product_number {
line-height: 20px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #474C55;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
font-style:italic;
}

a.product_number:link {color : #46bfec; text-decoration: underline;}
a.product_number:visited {color : #3898BB; text-decoration: underline;}
a.product_number:hover {color : #005A7A; text-decoration: underline;}

.product_price {
line-height: 20px;
font-size: 14px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #1094d3;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.product_price:link {color : #1094d3; text-decoration: underline;}
a.product_price:visited {color : #1094d3; text-decoration: underline;}
a.product_price:hover {color : #1094d3; text-decoration: underline;}
/* ------------------------------END PRODUCT STYLES------------------------------ */


/* ------------------------------BEGIN TITLE STYLES------------------------------ */
.title_bkg {
background-image: url(pix/g_body_top_big.jpg);
background-repeat: no-repeat;
}

div#title_spacer  {
padding-top: 19px;
padding-bottom: 6px;
padding-left: 21px;
padding-right: 0px;
}

.title_main {
line-height: 26px;
font-size: 28px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: none;
color: #474C55;
margin-top: 15px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.title_main:link {color : #474C55;}
a.title_main:visited {color : #474C55;}
a.title_main:hover {color : #474C55; text-decoration: underline;}


.title_blue {
line-height: 26px;
font-size: 26px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #005A7A;
margin-top: 15px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}

a.title_blue:link {color : #005A7A;}
a.title_blue:visited {color : #005A7A;}
a.title_blue:hover {color : #005A7A; text-decoration: underline;}


.title_main_sub {
line-height: 26px;
font-size: 22px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #2ebf1e;
}

a.title_main_sub:link {color : #2ebf1e;}
a.title_main_sub:visited {color : #0C5004;}
a.title_main_sub:hover {color : #57D049; text-decoration: underline;}

.title_sub_level2 {
line-height: 26px;
font-size: 22px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-weight: bold;
color: #2ebf1e;
}

a.title_sub_level2:link {color : #2ebf1e;}
a.title_sub_level2:visited {color : #0C5004;}
a.title_sub_level2:hover {color : #57D049; text-decoration: underline;}
/* ------------------------------END TITLE STYLES------------------------------ */


/* END CONTENT STYLES */

/* BEGIN IMAGE STYLES */
.img_stroke { 
  margin: 0 5px 5px 0;
  padding: 4px;
  border: 1px solid;
  border-color:#ffffff;
}

img.flt_l {
	margin: 0 9px 9px 0;
}
.img_stroke1 { 
  margin: 0 1px 1px 0;
  padding: 2px;
  border: 1px solid;
  border-color:#c8e2ea;
}

/* END IMAGE STYLES */

/* BEGIN FORM STYLES */
.forms1 {
border-style: solid; 
border-width: 1px; 
border-color: #86c7df; 
padding: 2px; 
line-height: 22px;
font-size: 12px;
background-color: #ffffff;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
width: 150px;  
color: #474C55;
}

.forms2 {
border-style: solid; 
border-width: 2px; 
border-color: #474C550; 
padding: 2px; 
line-height: 22px;
font-size: 12px;
background-color: #ffffff;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
width: 80px;  
color: #474C55;
}

.forms3 {
border-style: solid; 
border-width: 2px; 
border-color: #474C55; 
padding: 2px; 
line-height: 22px;
font-size: 12px;
background-color: #ffffff;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
width: 130px;  
color: #474C55;
}

.forms4 {
border-style: solid; 
border-width: 1px; 
border-color: #474C55; 
padding: 2px; 
line-height: 22px;
font-size: 12px;
background-color: #ffffff;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
width: 100px;  
color: #474C55;
}

.forms5 {
border-style: solid; 
border-width: 1px; 
border-color: #474C55; 
padding: 2px; 
line-height: 22px;
font-size: 12px;
background-color: #ffffff;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
width: 175px;  
color: #474C55;
}

.forms6 {
border-style: solid; 
border-width: 1px; 
border-color: #86c7df; 
padding: 2px; 
line-height: 22px;
font-size: 12px;
background-color: #ffffff;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
width: 350px;  
color: #474C55;
}
/* END FORM STYLES */

.back_to_top{
width: 580px;
border-bottom: 1px #007fad dotted;
text-align:right;
line-height: 20px;
font-size: 12px;
text-decoration: none;
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
color: #007fad;
margin-bottom:10px;
}

a.back_to_top:link {color : #007fad; text-decoration: none;}
a.back_to_top:visited {color : #3898BB; text-decoration: none;}
a.back_to_top:hover {color : #005A7A; text-decoration: none;}
}
.cp_title {
	color: #474C55;
	font-size: 18px;
}
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 26px; color: #1094d3; }
.style4 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 20px; color: #1094d3; }
.style5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #ff0000; }
a.style5:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #ff0000; }
a.style5:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #ff0000; }
a.style5:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #ff0000; text-decoration: underline;}
.style6 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #0a8627; }
.style7 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #474C55; }

.landing_text {
	font-family: Arial;
	font-size: 18px;
	color: #474c55;
	text-align: left;
}
.btn1 {
  font-family: Arial;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background: #82be42;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  border-color: #58c3b4;
}

.btn1:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn3 {
  font-family: Arial;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background: #474c55;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  border-color: #58c3b4;
}

.btn3:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.btn2 {
  font-family: Arial;
  color: #fff;
  border: none;
  font-size: 10px;
  font-weight: bold;
  background: #82be42;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  border-color: #58c3b4;
}

.btn2:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn4 {
  font-family: Arial;
  color: #fff;
  border: none;
  font-size: 10px;
  font-weight: bold;
  background: #474c55;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  border-color: #58c3b4;
}

.btn4:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;

}
.l2g {
  font-family: Arial;
  color: #58c3b4;
  border: none;
  font-size: 48px;
  font-weight: 100;
}
.zip_box {
  font-family: Arial;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 100;
}
hr {
  border-top: 1px dotted #000;
  color: #00000;
  border-bottom: 0px;
  height: 1px;
  width:90%;
}
.l2g {
  font-family: Arial;
  color: #58c3b4;
  font-size: 48px;
  font-weight:100;
}
a.l2g:link {
  font-family: Arial;
  color: #58c3b4;
  font-size: 48px;
  font-weight:100;
}

.nav_text {
	font-family: Arial;
	font-size: 18px;
	color: #fff;
	text-align: left;
	}
a.nav_text:link {
	font-family: Arial;
	font-size: 18px;
	color: #fff;
	text-align: left;
	}
a.nav_text:visited {
	font-family: Arial;
	font-size: 18px;
	color: #fff;
	text-align: left;
	}
a.nav_text:hover {
	font-family: Arial;
	font-size: 18px;
	color: #58c3b4;
	text-align: left;
	}
	.blueBar {
	background-color: #82be42;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: auto;
	color:#FFFFFF;
	border: 0px none currentColor;
	box-shadow: bottom;
	position: static;
	height: 70px;
}
.fbwhitebox  
{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	width: 906px;
}  